/* *{
  box-sizing: border-box;
}

body{
  background:#92bde7;
  color:#485e74;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#c9e6ff;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
/* .contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

.alert{
  text-align: center;
  padding:10px;
  background:#79c879;
  color:#fff;
  margin-bottom:10px;
  display:none;
} */

/* LARGE SCREENS */
/* @media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
}  */


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
select {
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #0f0f7d;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile {
    display: none;
}
.bottom{
    font-family: 'Amita', cursive;
    font-size: 5rem;
    color: rgb(13, 42, 94);
    text-shadow: 2px 2px 10px ;
}
.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 950px;
  background-color: rgb(242, 242, 242);
  border-radius: 2rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

.logo {
  width: 50%;
  top: auto;
  opacity: 1;
  transition: transform 1s ease-in-out;
  transition-delay: 0.4s;
}

.heading h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #151111;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

.required {
  color: red;
}

.formerror {
  color: red;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: rgb(113, 113, 113);
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.register-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #151111;
  color: rgb(234, 228, 228);
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.register-btn:hover {
  background-color: #0f0f7d;
}

.captcha {
  width: 100%;
  height: 5rem;
  text-align: center;
  position: relative;
  margin: 0 0 15px 0;
}

.g-recaptcha {
  position: absolute;
  left: -0.2rem;
  max-width: 100%;
  display: inline-block;
}

.status {
  font-size: 15px;
  color: green;
  padding: 15px;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: #629ff5;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: transform 1s ease-in-out;
  transition-delay: 0.4s;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: transform 1s ease-in-out;
  transition-delay: 0.4s;
}

.image {
  padding: 0.8rem;
  max-width: 80%;
  top: auto;
  opacity: 1;
  margin-left: 3rem;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.text-group h2 {
  line-height: 2rem;
  font-weight: 600;
  font-size: 2rem;
}

.bullets {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #aaa;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.bullets span.active {
  width: 1.1rem;
  background-color: #151111;
  border-radius: 1rem;
}
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 1px 10px;
}
.head {
    font-family: 'Amita', cursive;
    font-size: 5rem;
    color: rgb(13, 42, 94);
    text-shadow: 2px 2px 10px ;
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .mobile {
     display: revert
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }
  .bottom{
    display: none;
  }
  form {
    max-width: revert;
    padding: 1.5rem 1.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .logo {
    margin: 1.2rem 0 0.2rem 0;
  }
  .heading {
    margin-bottom: 1rem;
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .mobile {
    display: revert
 }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    display: none;
  }

  .bullets {
    display: none;
  }

  .text-slider {
    width: 80%;
  }

  .image {
    margin-left: 2rem;
  }
  .ps-lap{
    width: 60%;
  }
  
}

@media (max-width: 480px) {
  main {
    padding: 1rem;
  }
   .bottom {
        display: none;
    }
  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 0.8rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .image {
    width: 140%;
  }

  .mobile {
    display: revert
 }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    display: none;
  }

  .bullets {
    display: none;
  }
  .ps-lap{
    width: 60%;
  }
  form {
    padding: 0.5rem;
    max-width: 85%;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}